@using Microsoft.AspNetCore.Http
@model IEnumerable<Dominio.Plato>

@{
    ViewData["Title"] = "AltaServicioLocal";
}

<h1>Index</h1>
<form method="post" id="formAltaServicio">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Plato</label>
        <select name="plato">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Nombre</option>

            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Cantidad</label>
        <input type="number" id="txtCantidad" name="cant" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Mozo</label>
        <select name="mozo">
            <option value="6">Monica Mernes</option>
            <option value="7">José DaSilva</option>
            <option value="8">Mateo Manchez</option>
            <option value="9">Rodrigo Pequeño</option>
            <option value="10">Matias Otero</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Mesa</label>
        <select name="mesa">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Cantidad de comensales</label>
        <input type="number" id="txtCantidadPersonas" name="cantPersonas" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Crear Servicio" class="btn btn-primary" />
    </div>
</form>